
.auto {
    cursor: url(https://cur.cursors-4u.net/nature/nat-7/nat626.cur), auto !important;
}
@font-face {
    font-family:
PixelOperator;
    src: url('../font/PixelOperator.ttf')
}
* {
    box-sizing: border-box;
  }
body {
    font-family: PixelOperator;
    margin: 0;
    background-color: #08031A;
    background-size:auto;
    color: #fceaff;
    background-image: url('../imgs/backstar.gif')
}


h1, h2, h3 {
    color: #ED64F5;
}

h1 {
    font-size: 25px;
}

strong {
    color: #ED64F5;
}

#rightSidebar {
    float: right !important;
    position: sticky;
    margin: 20px;
}

#leftSidebar {
    float: left !important;
    position: sticky;
    margin: 20px;
}